In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)

In [2]:
df = pd.read_csv(r'C:\Users\harub\OneDrive\문서\Steps to Hellven\Consulting\Python\Data\movies.csv')

In [20]:
# Glimpse of df
df

# Create copy of df
df2 = df.copy()

df2

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

# 1. Data Cleaning

### 1.1 Data Types
Check dtypes and see if they are suitable for corresponding columns

In [21]:
df.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes       float64
director     object
writer       object
star         object
country      object
budget      float64
gross       float64
company      object
runtime     float64
dtype: object

Most dtypes are suitable. Although 'votes', 'budget', 'gross', and 'runtime' do not require decimal precision, we cannot change dtype from 'float' to 'int' due to presence of null values. Therefore, we will keep the current dtype as this will not affect data.

We can see that the 'released' column is currently holding 2 different information: 1) the released date and 2) the released location. Therefore, we are going to split this column into two: 1) released_date and 2) released_location

In [22]:
y = df2['released'].str.replace(")", "").str.split("(", expand=True).rename(columns = {0:'released_date', 1:'released_location'})
y

C:\Users\harub\AppData\Local\Temp\ipykernel_32244\2371030314.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  y = df2['released'].str.replace(")", "").str.split("(", expand=True).rename(columns = {0:'released_date', 1:'released_location'})

          released_date released_location
0        June 13, 1980      United States
1         July 2, 1980      United States
2        June 20, 1980      United States
3         July 2, 1980      United States
4        July 25, 1980      United States
...                 ...               ...
7663  October 23, 2020      United States
7664  February 7, 2020      United States
7665    April 27, 2020           Cameroon
7666   October 1, 2020      United States
7667   August 19, 2020      United States

[7668 rows x 2 columns]

In [23]:
# Since 'released' column was the 5th column, we are going to insert 'released_date' & 'released_location' correspondingly
df2.insert(4, 'released_date', y['released_date'])

df2.insert(5, 'released_location', y['released_location'])

In [24]:
df2.drop(['released'], axis=1, inplace=True)
df2

,name,rating,genre,year,released_date,released_location,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980",United States,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980",United States,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980",United States,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980",United States,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980",United States,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020",United States,3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020",United States,4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020",Cameroon,5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020",United States,NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020",United States,5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [25]:
# Convert 'released_date' into dtype 'datetime'

df2['released_date'] = df2['released_date'].astype(object).astype('datetime64')
df2

,name,rating,genre,year,released_date,released_location,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,1980-06-13,United States,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,1980-07-02,United States,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,1980-06-20,United States,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,1980-07-02,United States,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,1980-07-25,United States,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,2020-10-23,United States,3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,2020-02-07,United States,4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,2020-04-27,Cameroon,5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,2020-10-01,United States,NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,2020-08-19,United States,5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

### 1.2 Dealing with Missing Values

In [26]:
# Checking which columns have null values
df2.isna().sum()

name                    0
rating                 77
genre                   0
year                    0
released_date           2
released_location       2
score                   3
votes                   3
director                0
writer                  3
star                    1
country                 3
budget               2171
gross                 189
company                17
runtime                 4
dtype: int64

We can see that there are 2 rows with null values for 'released_location' & 'released_date'.

Check to see that these 2 rows both represent the null values for the columns

In [27]:
df2[df2['released_date'].isna()]

,name,rating,genre,year,released_date,released_location,score,votes,director,writer,star,country,budget,gross,company,runtime
5728,Saw: The Final Chapter,R,Crime,2010,NaT,NaN,5.6,93000.0,Kevin Greutert,Patrick Melton,Tobin Bell,NaN,NaN,NaN,NaN,NaN
5730,The Wolfman,R,Drama,2010,NaT,NaN,5.8,104000.0,Joe Johnston,Andrew Kevin Walker,Benicio Del Toro,NaN,NaN,NaN,NaN,NaN

Since there are only 2 rows with null values, let's search the information and add them

In [46]:
# Replacing 'released_location' values

mask1 = df2['name'] == 'Saw: The Final Chapter'
df2.loc[mask1, 'released_location'] = 'United States'

mask2 = df2['name'] == 'The Wolfman'
df2.loc[mask2, 'released_location'] = 'United States'

In [54]:
# Replacing 'released_date' values

df2.loc[mask1, 'released_date'] = '2010-10-29'
df2.loc[mask2, 'released_date'] = '2010-02-12'

In [56]:
# Check to see that there are no null values for 'released_location' & 'released_date'
df2[['released_date','released_location']].isna().sum()

released_date        0
released_location    0
dtype: int64

For the remaining columns with null values, the following are our decision protocol for null values.
1. dtype(float64): 'score' 'votes' 'budget' 'gross' 'runtime'

'runtime', 'score', 'votes': Fill these columns with 0

'gross', 'budget': Fill these columns np.mean

2. dtype(object): 'rating', 'writer', 'star', 'country', 'company'

In [57]:
columns_1 = ['rating','company','writer','country','star']
for i in columns_1:
    df2[i].fillna("Others",inplace=True)

columns_2 = ['runtime','score','votes']
for j in columns_2:
    df2[j].fillna(0,inplace=True) 

    columns_3 = ['budget','gross']
for k in columns_3:
    df2[k].fillna(round(np.mean(df2[k])),inplace=True)

In [58]:
# Check to make sure null values are not present
df2.isna().sum().sort_values(ascending=False)[:-4].reset_index().rename(columns={'index':'column_name', 0:'Null Values'})

          column_name  Null Values
0                name            0
1              rating            0
2               genre            0
3                year            0
4       released_date            0
5   released_location            0
6               score            0
7               votes            0
8            director            0
9              writer            0
10               star            0
11            country            0

### 1.3 Duplicates

In [14]:
# Check to see if duplicates exist
df2.duplicated().value_counts()

False    7668
dtype: int64

Duplicates do not exist in table.

### 1.4 Data Values

In the table, it seems that the 'year' column is not correspondent to the year of the 'released_date' column. Therefore, we are going to create a new year column that has the correct years

In [68]:
# Check that 'year' column doesn't correspond to the years of 'released_date'

df_temp = df2.assign(year_check = 
                    df2['released_date'].dt.year == df2['year'])
df_temp['year_check'].value_counts()

True     6344
False    1324
Name: year_check, dtype: int64

In [69]:
# Since there is 1324 cases when 'year' column is different from year of 'released_date', create new column 'correctyear'
df2['yearcorrect'] = df2['released_date'].dt.year
df2

,name,rating,genre,year,released_date,released_location,score,votes,director,writer,star,country,budget,gross,company,runtime,yearcorrect
0,The Shining,R,Drama,1980,1980-06-13,United States,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,1980
1,The Blue Lagoon,R,Adventure,1980,1980-07-02,United States,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,1980
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,1980-06-20,United States,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,1980
3,Airplane!,PG,Comedy,1980,1980-07-02,United States,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,1980
4,Caddyshack,R,Comedy,1980,1980-07-25,United States,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,Others,Drama,2020,2020-10-23,United States,3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,78500541.0,Others,90.0,2020
7664,Dream Round,Others,Comedy,2020,2020-02-07,United States,4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,35589876.0,78500541.0,Cactus Blue Entertainment,90.0,2020
7665,Saving Mbango,Others,Drama,2020,2020-04-27,Cameroon,5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,78500541.0,Embi Productions,0.0,2020
7666,It's Just Us,Others,Drama,2020,2020-10-01,United States,0.0,0.0,James Randall,James Randall,Christina Roz,United States,15000.0,78500541.0,Others,120.0,2020
7667,Tee em el,Others,Horror,2020,2020-08-19,United States,5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,35589876.0,78500541.0,PK 65 Films,102.0,2020

Note, if we simply wanted to replace the 'year' column with the years of the 'released_date' column, we can use the following code:

df2['year'] = df2['released_date'].dt.year

In [70]:
df2.drop('year', axis=1, inplace=True)

In [71]:
df2

,name,rating,genre,released_date,released_location,score,votes,director,writer,star,country,budget,gross,company,runtime,yearcorrect
0,The Shining,R,Drama,1980-06-13,United States,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,1980
1,The Blue Lagoon,R,Adventure,1980-07-02,United States,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,1980
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980-06-20,United States,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,1980
3,Airplane!,PG,Comedy,1980-07-02,United States,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,1980
4,Caddyshack,R,Comedy,1980-07-25,United States,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,Others,Drama,2020-10-23,United States,3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,78500541.0,Others,90.0,2020
7664,Dream Round,Others,Comedy,2020-02-07,United States,4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,35589876.0,78500541.0,Cactus Blue Entertainment,90.0,2020
7665,Saving Mbango,Others,Drama,2020-04-27,Cameroon,5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,78500541.0,Embi Productions,0.0,2020
7666,It's Just Us,Others,Drama,2020-10-01,United States,0.0,0.0,James Randall,James Randall,Christina Roz,United States,15000.0,78500541.0,Others,120.0,2020
7667,Tee em el,Others,Horror,2020-08-19,United States,5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,35589876.0,78500541.0,PK 65 Films,102.0,2020

# Data Analysis: Correlation